<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
 	<ul>
	  <li><a th:href="@{/variables/string/} + 'Hola Fherney'">/variables/string/Hola Fherney</a></li>
	  <li><a th:href="@{/variables/string/} + '¿Qué tal Fherney?'">/variables/string/¿Qué tal Fherney?</a></li>
	  <li><a th:href="@{/variables/string/} + 'Naciste en Abril' + '/' + 13">/variables/string/Naciste en Abril/13</a></li>
	</ul>
</body>
</html>