<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros del request</title>
</head>
<body>
	<h1>Enviar parámetros del request HTTP GET - URL</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='Recibido hpta')}">/params/string?texto=Recibido hpta</a></li>
		<li><a th:href="@{/params/string(texto='¿Qué tal?')}">/params/string?texto=¿Qué tal?</a></li>
		<li><a th:href="@{/params/mix-params(saludo='¿Cómo estás Fherney?', numero=13)}">/params/mix-params?saludo=¿Cómo estás Fherney? & número=13</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='¿Cómo estás Fherney?', numero=13)}">/params/mix-params-request?saludo=¿Cómo estás Fherney? & número=13</a></li>
	</ul>
</body>
</html>